@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.wrapper {
    background-color: #212121;
}

.body {
    height: 100vh;
    /* position: absolute; */
    background-color: #212121;
    color: #1db954;
}

.center {
    text-align: center;
    width: 50vw;
    margin: auto;
}

.logo {
    margin: 25% 0;
    display: inline-block;
    border: 7px solid #1db954;
    font-family: "Source Code Pro", monospace;
}
.search {
    width: 100%;
    font-family: "Abel", sans-serif;
    font-style: italic;
    /* background: rgb(29, 185, 84);
    background: radial-gradient(
      circle,
      rgba(29, 185, 84, 1) 0%,
      rgba(10, 107, 43, 1) 100%
    ); */
    border: none;
    height: 3vh;
    padding-left: 10px;
}

.search:focus {
    border: none;
}
